.container {
	display: flex;
	flex-wrap: wrap;
  background-color: $orangeLight;
}

.containerForm {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  padding: 0px 31px;
  min-width: 400px;
  background: white;
  margin: 21px;
}

.sidebar {
  -webkit-flex: 1;
  flex: 1;
  padding: 0px 31px;
  min-width: 400px;
  background: white;
  margin: 21px;
}

.header{
  font-size: 16px;
  border-bottom: 1px solid #EF632F;
  margin-bottom: 20px;
}
