.container {
  text-align: left;
  margin: 0 auto;
  padding: 30px;
  background-color: $orangeLight;
  display: flex;
  flex-wrap: wrap;
}

.content {
	-webkit-flex: 1;
  flex: 1;
  padding: 0 19px;	
  margin: 20px;
  background: white;
}

.image {
	 margin: auto;
  text-align: center;
}

.content img{
	max-width: 800px;
}

.header {
  font-size: 16px;
  border-bottom: 1px solid #EF632F;
  margin-bottom: 20px;
}
