.container {
  display: flex;
  flex-wrap: wrap;
  background-color: $orangeMedium;
}

.form{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: .9;
  text-align: left;
  padding: 10px 31px;
  min-width: 400px;
  background: white;
  margin: 21px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1), 0px 0px 2px rgba(0,0,0,0.15);
  border-radius: 4px;
}

.sidebar {
  /*-webkit-flex: 1;*/
  flex: .1;
  padding: 10px 31px;
  min-width: 400px;
  background: white;
  margin: 21px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1), 0px 0px 2px rgba(0,0,0,0.15);
  border-radius: 4px;
}

.header {
  font-size: 16px;
  border-bottom: 1px solid #EF632F;
  margin-bottom: 20px;
}

.item {
  width: 50%;
  display: block;
  margin: auto;
}
