.Button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background: #f0f3f5;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  color: #adadad;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  outline: 0;
  padding: 6px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: box-shadow .1s ease-in,color .2s ease-out,background-color .2s ease-in;
  user-select: none;
  white-space: normal;
}

.fullWidth {
  width: 100%;
}

.left {
  float: left;
}
.right {
  float: right;
}

.primary {
  color: #fff;
  background-color: 'rgb(155, 161, 167)';
  &:hover,
  &:active {
    background-color: $orange;
  }
}

.disabled {
  background-color: 'rgb(236, 237, 239)';
  color: 'rgb(155, 161, 167)';
  box-shadow: none;
  cursor: default;
  &:hover,
  &:active {
    background-color: 'rgb(236, 237, 239)';
  }
}

.secondary {
  color: 'rgb(155, 161, 167)';
  background-color: 'rgb(236, 237, 239)';
  box-shadow: none;
  cursor: default;
  &:hover,
  &:active {
    background-color: 'rgb(236, 237, 239)';
  }
}
