.singleInput input {
  margin: 7px;
  margin-left: 0;
  padding: 10px 5px;
  width: 100%;
}

.textInput {
  display: flex;
  flex-direction: column;
  > textarea {
    margin: 7px;
    margin-left: 0;
    padding: 10px 5px;
  }
}
