.footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footerNav {
  align-self: center;
}

.footer img {
  width: 180px;
  height: 40px;
  align-self: center;
  margin: 10px;
}

.footer img.fbButton {
  width: 140px;
  height: 40px;
}
