
.submitButton {
  margin-top: 16px;
  align-self: center;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  outline: 0;
  padding: 6px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: box-shadow .1s ease-in,color .2s ease-out,background-color .2s ease-in;
  user-select: none;
  white-space: normal;
  color: #fff;
  background-color: '#EF632F';
  &:hover,
  &:active {
    background-color: '#F48F0D';
  }
}
