.App {
  text-align: center;
  background-color: '#fff';
  font-family: 'Roboto';
}

h3 {
  font-family: 'Cabin';
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}
