.DonatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(60, 63, 70); 
  background-color: $orangeMedium;
}

.supportContainer {
  border-radius: 4px;
  margin-top: 32px;
  padding: 16px;
  font-size: 24px;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1), 0px 0px 2px rgba(0,0,0,0.15);
}

.supportCardContainer {
  margin: 16px 16px 0px 16px;
  padding: 16px;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.amazonSmile {
  width: 100px;
  height: 100px;
}

.donateBanner {
  width: 100%;
}
