.nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navItem {
  flex: 1;
  padding: 5px;
  margin: 10px;
  color: #F49722;
  text-decoration: none;
  text-transform: uppercase;
}
