.nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navItem {
  flex: 1;
  padding: 5px;
  margin: 10px;
  color: $orangeMedium;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.navItemActive {
  flex: 1;
  padding: 5px;
  margin: 10px;
  color: $orangeDark;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}
