.banner {
  display: flex;
  flex: 1;
  height: 120px;
  width: 100%;
  background-color: #2E5077;
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

.banner h3 {
  flex: 1;
  text-align: center;
  align-self: center;
  font-size: 30px;
}

a {
  text-decoration: none;
}
