.banner {
  display: flex;
  flex: 1;
  height: 120px;
  width: 100%;
  background-color: $blueMedium;
  color: white;
  margin-top: 10px;
}

.banner h3 {
  flex: 1;
  text-align: center;
  align-self: center;
}
